
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {

display: flex; 
justify-content: center;
align-items: center;
min-height: 100vh;
background: rgb(63, 63, 63)

}

.wrapper {
    width: 420px;
    background: rgb(46, 46, 46);
    border: 2px solid rgb(238, 255, 0);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgb(255, 208, 0);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 30px 40px;
}

.wrapper h1 {
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    text-shadow: 0 0 5px rgb(243, 239, 0); 
}

.wrapper .input-box {
position: relative;
width: 100%;
height: 50px;    
background: transparent;
margin: 30px 0;    
}

.input-box input {
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
border: 2px solid rgba(15, 15, 15, 0.452);
border-radius: 40px;
font-size: 16px;
color: #fcfcfc;
padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
color: #ffffff
}

.input-box i {
position: absolute;
right: 20px;
top: 50%;
transform: translateY(-50%);
font-size: 20px;

}


.wrapper .remember-forgot {
display: flex;
justify-content: space-between;
font-size: 14.5px;
margin: -15px 0 15px;

}

.remember-forgot label input {
    accent-color: rgb(255, 255, 255);
    margin-right: 3px;
}


.remember-forgot a {
color: rgb(202, 216, 74);
text-decoration: none;
}



.remember-forgot a:hover {
    text-decoration: underline;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
button {
    padding: 14px 60px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(126, 126, 126);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    
 
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: hsl(0, 6%, 67%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: hsl(120, 100%, 50%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(0, 255, 76) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: rgb(255, 255, 255);
text-decoration: none;
font-weight: 700;
margin-left: 3px;
}

.register-link p a :hover {
    text-decoration: underline;
}


